body{
	height: 95%;
}

#container {
	 display: grid; 
	 grid-template-columns: 5% 25% 5% 65%; 
	 grid-template-rows: 10% 50% 15% 6% 19%;
	 
	 height: 100%;	 
}

#connexion{
	grid-column : 2;
	grid-row : 2;
	border:3px solid #a5b692;
	height: 100%;	
	background-color: rgb(211, 220, 194);
	
	display: grid; 
	 grid-template-columns: 100%; 
	 grid-template-rows: 5% 60% 20% 5%;	
}


#connexionForm{
	grid-column : 1;
	grid-row : 2;	
	height: 100%;	
	margin: auto;
	
	display: grid; 
	 grid-template-columns: 100%; 
	 grid-template-rows: 5% 20% 35% 10% 50%;	
}

#connexionStatut{
	grid-column : 1;
	grid-row : 2;
}

#connexionParametre{
	grid-column : 1;
	grid-row : 3;
	
	display: grid; 
	 grid-template-columns: 100%; 
	 grid-template-rows: 5% 40% 5% 40% 5%;	
}

#connexionParametreNom{
	grid-column : 1;
	grid-row : 2;
	margin: auto;

}

#connexionParametrePrenom{
	grid-column : 1;
	grid-row : 4;
	margin: auto;
}

#connexionSubmit{
	grid-column : 1;
	grid-row : 4;
	margin: auto;
}



#enregistrement{
	grid-column : 1;
	grid-row : 3;
	padding-top: 10%;
	
	margin: auto;
}

#presentation{
	grid-column : 4;
	grid-row : 2 / span 4;
	background-color: rgb(211, 220, 194);
	border:3px solid #a5b692;
	height: 100%;
	margin-right: 5%;
}



#nextnews{
	grid-column : 2;
	grid-row : 4 / span 2;
	
	margin-bottom: 10%;
	background-color: rgb(211, 220, 194);
	border:3px solid #a5b692;
	
}