body{
	height: 100%;
}
	
#container {
	 display: grid; 
	 grid-template-columns: 30% 70%; 
	 grid-template-rows: 30% 10% 50%;
	  /*background-color: rgb(211, 220, 194);*/
}

#infoPerso {
	grid-column : 1;
	grid-row : 1; 
    text-align: center;
    padding: 5px;
}

#mesreservation {
	grid-column : 1;
	grid-row : 3; 
	background-color: rgb(211, 220, 194);
    text-align: center;
    padding: 5px;
}

#events {
	grid-column : 2;
	grid-row : 1 / span 3; 
	padding:5px;
	background-color: rgb(211, 220, 194);
}

#titre {
	grid-column : 1;
	grid-row : 1; 
	background-color: rgb(211, 220, 194);
}

#select {
	grid-column : 1;
	grid-row : 2; 
	background-color: rgb(211, 220, 194);
}

#deconnexionbutton {
	float: right;
}

#eventbuy{
	float:right;
}