<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>billeterieProjet</display-name>
	
   <servlet>
   	<servlet-name>Etudiant</servlet-name>
   	<servlet-class>com.octest.servlets.Etudiant</servlet-class>
   </servlet>
   	<servlet-mapping>
		<servlet-name>Etudiant</servlet-name>
		<url-pattern>/Etudiant</url-pattern>
	</servlet-mapping>
   
   <servlet>
   	<servlet-name>Personnel</servlet-name>
   	<servlet-class>com.octest.servlets.Personnel</servlet-class>
   </servlet>
   	<servlet-mapping>
		<servlet-name>Personnel</servlet-name>
		<url-pattern>/Personnel</url-pattern>
	</servlet-mapping>
   
   <servlet>
   	<servlet-name>Admin</servlet-name>
   	<servlet-class>com.octest.servlets.Admin</servlet-class>
   </servlet>
   	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/Admin</url-pattern>
	</servlet-mapping>
   
   <servlet>
   	<servlet-name>Enregistrer</servlet-name>
   	<servlet-class>com.octest.servlets.Enregistrer</servlet-class>
   </servlet>
   	<servlet-mapping>
		<servlet-name>Enregistrer</servlet-name>
		<url-pattern>/Enregistrer</url-pattern>
	</servlet-mapping>
   
   <servlet>
   	<servlet-name>Valider</servlet-name>
   	<servlet-class>com.octest.servlets.Valider</servlet-class>
   </servlet>
   	<servlet-mapping>
		<servlet-name>Valider</servlet-name>
		<url-pattern>/Valider</url-pattern>
	</servlet-mapping>
   
   
   <servlet>
   	<servlet-name>Event</servlet-name>
   	<servlet-class>com.octest.servlets.Event</servlet-class>
   </servlet>
   	<servlet-mapping>
		<servlet-name>Event</servlet-name>
		<url-pattern>/Event</url-pattern>
	</servlet-mapping>
	
	
   <servlet>
   	<servlet-name>AjouterSalleAdmin</servlet-name>
   	<servlet-class>com.octest.servlets.AjouterSalleAdmin</servlet-class>
   </servlet>
   	<servlet-mapping>
		<servlet-name>AjouterSalleAdmin</servlet-name>
		<url-pattern>/AjouterSalleAdmin</url-pattern>
	</servlet-mapping>
	
	
   <servlet>
   	<servlet-name>Profil</servlet-name>
   	<servlet-class>com.octest.servlets.Profil</servlet-class>
   </servlet>
   	<servlet-mapping>
		<servlet-name>Profil</servlet-name>
		<url-pattern>/Profil</url-pattern>
	</servlet-mapping>
	
	



	
	
	  <servlet>
   	<servlet-name>EventList</servlet-name>
   	<servlet-class>com.octest.servlets.EventList</servlet-class>
   </servlet>
    <servlet-mapping>
		<servlet-name>EventList</servlet-name>
		<url-pattern>/EventList</url-pattern>
	</servlet-mapping>
   
   
	  <servlet>
	  	<servlet-name>EventBuy</servlet-name>
	  	<servlet-class>com.octest.servlets.EventBuy</servlet-class>
	  </servlet>
	  <servlet-mapping>
   		<servlet-name>EventBuy</servlet-name>
   		<url-pattern>/EventBuy</url-pattern>
   	</servlet-mapping>
	  
	  
	  <servlet>
	  	<servlet-name>Deconnexion</servlet-name>
	  	<servlet-class>com.octest.servlets.Deconnexion</servlet-class>
	  </servlet>
	     	<servlet-mapping>
   		<servlet-name>Deconnexion</servlet-name>
   		<url-pattern>/Deconnexion</url-pattern>
   	</servlet-mapping>
   	
   	



	

	
	<jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>



 


